# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# Environment configuration
.env

# Cache directories
.cache/

# IDEs and editors
.idea/
.vscode/

# OS / misc
.DS_Store
Thumbs.db

# Project data
/data/

# Tests
.pytest_cache/
.coverage

# Logs
logs/
*.log

/docs/next-steps/scratch_project/
