# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# IDEs and editors
.idea/
.vscode/

# OS / misc
.DS_Store
Thumbs.db

# Project data
/data/

# Tests
.pytest_cache/
.coverage

# Logs
logs/
*.log

